/node_modules/
/.npmrc
/build/
/twitch-session.json
/CustomChannels.json
/src/**/*.bat
*.log
/package/*
.npmrc
/settings.json
src/twitch-session.json
.idea/codestream.xml
settings.json.bak
build_app.cmd
failsafe_restart_run.bat
TTVDropBot-Patched.exe
TTVDropBot.exe
